<div class="row">
    <h1 class="titulo">Experiencia Laboral</h1>
    <div class=".col-lg-2">
        <button type="button" class="btn btn-success" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia <i class="bi bi-plus"></i>
        </button>
    </div>

    <div class="col-lg-1 "></div>
    <div class="col-lg-11 ">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h3>{{Experiencia.nombreE}}</h3>
                    </td>
                    <td><h4>{{Experiencia.descripcionE}}</h4></td>
                    <td><h4>{{Experiencia.fechaE}}</h4></td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR
                        </button></td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<!--

    Areglar responsive agregaando col-xs-12 col-sm-3 col-md-3 col-lg-3

        <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>trabajo 1 </h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ipsam, magni quod explicabo et deleniti? Facilis velit deleniti distinctio itaque repudiandae quos nostrum animi minus dolores assumenda voluptas, beatae cum.</p>
        </ul>
        <ul>
            <li>
                <h2>trabajo 2 </h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ipsam, magni quod explicabo et deleniti? Facilis velit deleniti distinctio itaque repudiandae quos nostrum animi minus dolores assumenda voluptas, beatae cum.</p>
        </ul>
        <ul>
            <li>
                <h2>trabajo 3 </h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ipsam, magni quod explicabo et deleniti? Facilis velit deleniti distinctio itaque repudiandae quos nostrum animi minus dolores assumenda voluptas, beatae cum.</p>
        </ul>
    </div>
    -->