<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/htmlLogo.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#26358c'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [innerStrokeColor]="'#88bdf7'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/cssLogo.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#26358c'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [innerStrokeColor]="'#88bdf7'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/jsLogo.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#26358c'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [innerStrokeColor]="'#88bdf7'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/nodeLogo.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#26358c'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [innerStrokeColor]="'#88bdf7'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/mySqlLogo.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#26358c'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [innerStrokeColor]="'#88bdf7'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/githubLogo.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#26358c'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [innerStrokeColor]="'#88bdf7'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>


</div>
