<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profilePic.png" class="img-fluid" id="profilePic" alt="foto de mi cara">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Claudia Soledad Cabrera</p>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis error neque, ipsum impedit dolores reiciendis numquam laboriosam quos illo aliquid exercitationem! Eaque voluptatibus, veritatis reprehenderit ut qui cumque consectetur consequuntur!</p>
        </span>
    </div>
</div>
