<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="../../../assets/profilePic.png" class="img-fluid" id="profilePic" alt="foto de mi cara">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="profesion">Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 acercaDe">
        <span>
            <h1 class="bio-title">¡Bienvenidos a mi Portfolio!</h1>
            <p class="bio">Soy una desarrolladora Full-Stack junior que está dando sus primeros pasos tanto en el lado front-end como en el back-end de la vida, aprendiendo sobre varios lenguajes para descubrir en cual puedo ser más útil y así aprovechar todo mi potencial. Me considero una persona dinámica y resolutiva, con una gran curiosidad, capacidad de investigación e interés por seguir aprendiendo para potenciar mis habilidades y colaborar para mejorar la experiencia de usuario para todo tipo de usuarios. Mi objetivo es formar parte de un equipo empático y colaborativo donde pueda seguir creciendo tanto en lo personal como en lo profesional. ¿Trabajamos juntos? 
            </p>
        </span>
    </div>
</div>


