<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="../../../assets/profilePic.png" class="img-fluid" id="profilePic" alt="foto de mi cara">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="profesion">Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 acercaDe">
        <span>
            <h1 class="bio-title">¡Bienvenidos a mi Portfolio!</h1>
            <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis error neque, ipsum impedit dolores reiciendis numquam laboriosam quos illo aliquid exercitationem! Eaque voluptatibus, veritatis reprehenderit ut qui cumque consectetur consequuntur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, porro id ab eligendi cum vel ullam quidem quo laboriosam asperiores aut odit, reprehenderit, voluptatem ipsum eveniet doloremque nisi numquam quis.</p>
        </span>
    </div>
</div>


