<div class="container col-md-5">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreP">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" required>
                </div>
                <div class="form-group">
                    <label for="descripcionP">Descripcion del proyecto</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="descripcionP" required>
                </div>
                <div class="form-group">
                    <label for="fechaP">Año del proyecto</label>
                    <input type="text" class="form-control" id="fechaP" name="fechaP" [(ngModel)]="fechaP" required>
                </div>
                <div class="form-group">
                    <label for="linkP">Link del proyecto</label>
                    <input type="file" class="form-control" id="linkP" name="linkP" [(ngModel)]="linkP" required>
                </div>
                <button class="btn btn-primary">
                    Agregar proyecto
                </button>
            </form>
        </div>
    </div>
</div>
